<span class="icon icon-arrow">    
    <svg width="14" height="12" viewBox="0 0 14 12" fill="#fff" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.937822 11.5L7 1L13.0622 11.5H0.937822Z" stroke=""/>
    </svg>
</span>
